.c{
    width: 180px;
    background-color: white;
    height: 60px;
    border: 1px solid; 
    margin-left: 380px;
    z-index: 1;
    margin-top: -559px;
    cursor: pointer;
}

.b{
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left:58px;
    font-size: 22px;
    cursor: pointer;
}
.a{
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 65px;
    font-size: 22px;
    cursor: pointer;
}
.x{
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 60px;
    font-size: 22px;
    cursor: pointer;
}
.w{
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-left: 32px;
    font-size: 22px;
    cursor: pointer;
}
.f{
    width: 180px;
    background-color: white;
    height: 60px;
    border: 1px solid; 
    margin-left: 380px;
    z-index: 1;
    padding-top: 0px;
    cursor: pointer;
}
.e{
    width: 180px;
    background-color: white;
    height: 60px;
    border: 1px solid; 
    margin-left: 380px;
    z-index: 1;
    padding-top: 0px;
    cursor: pointer;
}
.r{
    width: 180px;
    background-color: white;
    height: 60px;
    border: 1px solid; 
    margin-left: 380px;
    z-index: 1;
    padding-top: 0px;
    cursor: pointer;
}